<!DOCTYPE html>
<html>
  <head>
    <title> Create Post </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <div class="container">
      <h1>Sending your exploding message</h1>

      <p>Your link is</p>
      <a id="linktopost" href = "/"> /<%= id %></a>

      <!-- <form class="" action="/save" method="get">
        <input class="inp" type="text" name="msg" autofocus placeholder="Type your message"/>
        <input type="submit" value="save"/>
      </form> -->
    </div>


    <script type="text/javascript">

    var link = document.getElementById('linktopost');
    link.href = link.innerHTML;
    </script>


  </body>
</html>
