<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/part.css' />
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <h1 id="message"><%= data.msg %></h1>
    <!-- <p><%= +new Date %></p> -->
    <!-- <p id = "textobj">Waiting</p> -->


    <canvas id="cnv" width=800 height=500>
    </canvas>


    <div class="button">
      <a href="/">Go Home</a>
    </div>


  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/javascripts/particles.js"></script>

  <script type="text/javascript">
    var socket = io();
    var opendate=0;

    socket.once('connect', function() {
      console.log('connected');
      var dt = +new Date();
      socket.emit('started', {id: location.pathname.slice(1), date: dt });
      console.log('completed emit at date: ' + dt);

    socket.on('reconnect', function(){
        console.log('reconnected');
      });

    });

    socket.on('date', function(opendate){
      var max_time = 5000;
      var dt = +new Date;
      var timeRemaining = max_time - (dt - opendate);
      // console.log("OpenDate: "+ opendate+"\tDateNow: "+ dt);
      // console.log("Time Remaining: "+ timeRemaining);

      if (timeRemaining > 0) {
        var txt = document.getElementById('message').innerHTML;
        // var txt = String(<%= data.msg %>);

        setMouseOverController(false);
        startSim(txt);

        setTimeout(function(){
          selfDestruct();
        }, timeRemaining);
      } else{
        startSim("Link Expired");
        selfDestruct();
      }


    });

  </script>

  </body>
</html>
