body {
  padding: 50px;
  /*font-family: 'Lato', sans-serif;*/
  font: 14px  'Lato', "Calibri", Helvetica, Arial, sans-serif;
  background-color: #222;
  /*font-weight: 100;*/
  /*border: 1px solid "red";*/
}


h1, p {
  color: #fff;
  font-weight: 100;

}

h1{
  font-size: 35px;
}

a {
  font-family: 'Lato';
  color: #3cfcff;
  font-weight: 100;

}

.container{
  padding-top: 100px;
  margin: 0 auto;
  display: block;
  /*border: 1px solid red;*/
  max-width: 600px;
}

.container input[type=text]{
  border: none;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
  background-color: rgba(1,1,1,0);
  /*color: #89c0e0;*/
  font-family: 'Lato';
  font-weight: 100;
  font-size: 24px;
}


.container input[type=text]:focus, .container input[type=text].focus{
  color: #eee;
  outline: none;
  border-bottom: 1px solid #3CFCFF;
}


.container input[type=submit]{
  /*border: none;*/
  padding: 3px 20px 10px 20px;
  margin-left: 20px;
  color: #3cfcff;
  border: 1px solid #3cfcff;
  background-color: rgba(1,1,1,0);
  font-family: 'Lato';
  font-weight: 100;
  font-size: 24px;
}


.slide-anim{
  width: 30px;
  height: 40px;
  /*transform: border;*/


  border-bottom: 3px solid #3cfcff;

}


.slide-anim:hover{
  width: 100px;

  /*-webkit-transition: border-bottom 2s ease;
  -moz-transition: border 2s ease;
  -o-transition: border 2s ease;
  -ms-transition: border 2s ease; */
  transition: border 2s ease;
  border-bottom: 3px solid #3cfcff;

}


.inp{
  width: 80%;
  display: inline-block;
  /*border-bottom: 1px solid #ff0000;*/
  /*background-color: #ee0000;*/
}
